@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "~/Views/Shared/_Layout4.cshtml";

}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="col-xl-11 order-xl-1 pl-0 pr-0">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0"><i class="bi-mailbox2"></i> Change Email</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id="email-form" method="post">
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-email">Email address</label>
                                @if (Model.IsEmailConfirmed)
                                {
                                    <div class="input-group">
                                        <input asp-for="Email" class="form-control form-control-alternative" id="input-email" disabled />
                                        <div class="input-group-append">
                                            <span class="input-group-text text-success font-weight-bold">✓</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input asp-for="Email" class="form-control form-control-alternative" id="input-email" disabled />
                                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                                }
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">New Email address</label>
                                <input asp-for="Input.NewEmail" class="form-control form-control-alternative" />
                                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex">
                        <button id="change-email-button" type="submit" class="btn btn-primary w-auto pl-4 pr-4 align-items-center" asp-page-handler="ChangeEmail">Change email</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
